.character-display-body {
    background-color: #141414;
    align-items: center;
    padding-top: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .spacer {
    width: 10%;
}

.header .title {
    width: 80%;
    text-align: center;
    margin-top: 30px;
}

.header .title h1 {
    color: #F5F1E3;
}

.header .title h5 {
    color: #F5F1E3;
}

.header .actions {
    width: 10%;
    justify-content: flex-end;
}

.header .actions .edit-icon {
    color: #2660A4;
    cursor: pointer;
    margin-right: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.button-container .rest {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    background-color: #2660A4;
    border-color: #2660A4;
}

.edit {
    color: #2660a4;
    cursor: pointer;
}

.edit.minus {
    margin-right: 1.25rem;
}

.edit.plus {
    margin-left: 1.25rem;
}

.custom-button {
    width: 100%;
    height: 110%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #2660a4;
    transition: background-color 0.3s; /* smooth transition for background color */
}

.custom-button:hover {
    background-color: #1f4f8b; /* slightly darker blue for hover */
}

.spellpoint-container {
    margin-top: 30px;
}

.resource-card-container {
    margin-top: 30px;
    /* styles for resource cards go here */
}

.resource-card {
    margin-bottom: 30px;
}

.no-resources {
    text-align: center;
}