.character-list-body {
    background-color: #141414;
    margin-top: 80px;
    padding: 1px 0;
}

.character-list-content {
    margin-top: 30px;
    text-align: center;
}

.character-list-title {
    text-decoration: underline;
    color: #F5F1E3;
}