.resource-card {
    margin-bottom: .5rem;
    background-color: #141414;
    border-color: #333333;
}

.resource-card-title {
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-bottom: .3rem;
    background-color: #333333;
    width: 100%;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #F5F1E3;
}

.resource-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource-button-container {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-button,
.circular-button:focus,
.circular-button:hover,
.circular-button:active,
.circular-button:disabled {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.edit-icon {
    color: #2660A4;
    cursor: pointer;
}

.edit-icon.minus {
    margin-right: .75rem;
}

.edit-icon.plus {
    margin-left: .75rem;
}

@media (max-width: 767px) {
    .edit-icon.minus {
        margin-right: .5rem;
    }

    .edit-icon.plus {
        margin-left: .5rem;
    }
}